<form action="/cart" method="post">
    <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">Add to cart</button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>