<%- include("includes/head.ejs") %>
</head>
<body>
    <%- include("includes/navigation.ejs") %>
    <main>
        <% if (prods.length > 0) { %>
        <h1>My products</h1>
        <p>List of all products</p>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include("includes/end.ejs") %>