<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class=" space-y-4">
            <h1 class="text-6xl font-bold mb-4 px-4 py-2">Nothing here!</h1>
        </main>
            <%- include('../includes/end.ejs') %>